img{
  width:200px;
}
html {
    font-size: 1rem;
  }
  .send_msg{
    background-color: red;
  }



  @media (max-width: 768px) {
    .received_withd_msg{
      width: fit-content;
      max-width:90%;
    }
    .btn{
      margin-bottom: 1%;
    }
    .sent_msg{
      width: fit-content;
      max-width: 90%;
    }
  }
  @media (min-width: 768px) {
    .received_withd_msg{
      width: fit-content;
      max-width:50%;
    }
    .sent_msg{
      width: fit-content;
      max-width: 50%;
    }
  }