<div class="card card-body">
  <h3>Chat Room</h3>
  <form action="/chatrooms" method="post">
    <div class="form-group">
      <label for="roomname">Room Name</label>
      <input type="text" class="form-control" name="roomname" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>