<style>
  #output{
    border: 1px solid grey;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    padding-top:2%;
  }
  #sender{
    padding-left:1%;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .incoming_msg{
    width:100%;
    margin:3px 0 3px;
  }
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;

 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ margin:3px 0 3px;}
.sent_msg {
  float: right;
  padding-right: 10px;
}
</style>

<div class="card card-body">
  <h3>{{room.name}}</h3>
  <form onsubmit="sendMessage(message.value);return false;">
    <div class="form-group">
      <label for="roomname">chat room</label>
      <div id="output" class="card mb-3">

      </div>
      <div class="input-group">
        <input type="text" class="form-control width100" name="message" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Send</button>
        </span>
      </div>
    </div>

  </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  let separator = true;
  const output = $("#output");
  const username = "{{user.name}}";

  const socket = io();
  socket.emit("subscribe", {
    room: "{{room.name}}",
    name: "{{user.name}}"
  });

  socket.on("messageReceive", data => {
    console.log("sender: " + data.sender);
    console.log("message: " + data.message);
    addMessage(data.sender, data.message);
  });

  function sendMessage(mes) {
    socket.emit("messageSent", { message: mes });

    const sent_msg = `
        <div class="outgoing_msg">
          ${separator?"<hr>":""}
          <div class="sent_msg">
            <p>${mes}</p>
            <span class="time_date">${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}</span>
          </div>
        </div>
  `
      output.append(sent_msg);
      separator = false;
  }

  function addMessage(sender, message) {
    const incoming_msg = `
        <div class=\"incoming_msg\">
          ${separator?"":"<hr>"}
          <div class=\"received_msg\">
            <div id=\"sender\">${sender}</div>
            <div class=\"received_withd_msg\">
              <p>${message}</p>
              <span class=\"time_date\">${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}</span>
            </div>
          </div>
        </div>
`
    output.append(incoming_msg);
    separator = true;
  }

</script>