<style>
  #output{
    border: 1px solid grey;
    width: 100%;
    height: 49vh;
    overflow-y: scroll;
    padding-top:2%;
    box-sizing: border-box;
  }
  #sender{
    padding-left:1%;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .card{
    height:90%;
  }
  .incoming_msg{
    width:100%;
    margin:3px 0 3px;
  }
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;

 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
}
.outgoing_msg{ margin:3px 0 3px;}
.sent_msg {
  float: right;
  padding-right: 10px;

}
</style>

<div class="card card-body">
  <h3>{{room.name}}</h3>
  <form onsubmit="sendMessage(message.value);return false;">
    <div class="form-group">
      <label for="roomname">chat room</label>
      <div id="output" class="card mb-3">

      </div>
      <div class="input-group">
        <input id="messageinput" type="text" class="form-control width100" name="message" autocomplete="off" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Send</button>
        </span>
      </div>
    </div>

  </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  let separator = true;
  const output = $("#output");
  const messageInput = $("#messageinput");
  const socket = io();

  var _originalSize = $(window).width() + $(window).height();
  $(window).resize(function () {
    if ($(window).width() + $(window).height() != _originalSize) {
      console.log("keyboard show up");
      output[0].scrollTop = output[0].scrollHeight;
    } else {
      console.log("keyboard closed");
      output[0].scrollTop = output[0].scrollHeight;
      
    }
  });

  socket.emit("subscribe", {
    room: "{{room.name}}",
    name: "{{user.name}}"
  });

  socket.on("messageList", data => {
    if (data) {
      data.forEach((message) => {
        if (message.sender == "{{user.name}}") {
          DrawSentMessage(message.text, message.date);
        } else {
          DrawReceivedMessage(message.sender, message.text, message.date);
        }
      });
    }

  });

  socket.on("messageReceive", data => {
    let scroll = false;
    if (output[0].scrollHeight - output.scrollTop() < (output.outerHeight() + 100)) {
      scroll = true;
    }
    addMessage(data.sender, data.message);
    if (scroll === true) output[0].scrollTop = output[0].scrollHeight;
  });

  function DrawSentMessage(message, date) {
    let sent_msg = document.createElement("div");
    sent_msg.classList.add("outgoing_msg");
    sent_msg.innerHTML = `${separator ? "<hr>" : ""}
                <div class="sent_msg">
                  <p>${message}</p>
                  <span class="time_date">${date}</span>
                </div>`

    output.append(sent_msg);
    separator = false;
  }
  function DrawReceivedMessage(sender, message, date) {
    const incoming_msg = `
        <div class=\"incoming_msg\">
          ${separator ? "" : "<hr>"}
          <div class=\"received_msg\">
            <div id=\"sender\">${sender}</div>
            <div class=\"received_withd_msg\">
              <p>${message}</p>
              <span class=\"time_date\">${date}</span>
            </div>
          </div>
        </div>
`;
    output.append(incoming_msg);
    separator = true;
  }

  function sendMessage(mes) {
    let scroll = false;
    if (output[0].scrollHeight - output.scrollTop() < (output.outerHeight() + 100)) {
      scroll = true;
    }
    messageInput.val("");
    socket.emit("messageSent", { message: mes });
    let currentDate = `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`;
    DrawSentMessage(mes, currentDate);
    if (scroll === true) output[0].scrollTop = output[0].scrollHeight;
  }

  function addMessage(sender, message) {
    let currentDate = `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}`;
    DrawReceivedMessage(sender, message, currentDate);
  }

</script>